.*
!.gitconfig
!.gitignore
!.zsh/
!.config/
.config/*

git/
aur/
Music/
Pictures/
Videos/
Downloads/
Documents/
Templates/
Public/
Desktop/
projects/

!.config/bspwm/
!.config/dunst/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/kitty/
!.config/picom/
!.config/rofi/
!.config/starship.toml
!.config/sxhkd/
