[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/youssef-attai/nvim
[submodule ".zsh/plugins/fast-syntax-highlighting"]
	path = .zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-zmirror/fast-syntax-highlighting
