*

!.aliases
!.config/alacritty/
!.config/dunst/
!.config/i3/
!.config/mpd/
!.config/ncmpcpp/
!.config/neofetch/
!.config/networkmanager-dmenu/
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/rofi/
!.config/starship.toml
!.gitconfig
!.gitignore
!.gitmodules
!.xinitrc
!.zsh/
!README.md
!bin/
