[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/youssef-attai/nvim
[submodule ".zsh/plugins/fast-syntax-highlighting"]
	path = .zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-zmirror/fast-syntax-highlighting
[submodule ".zsh/plugins/zsh-autosuggestions"]
  path = .zsh/plugins/zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/plugins/zsh-completions"]
  path = .zsh/plugins/zsh-completions
  url = https://github.com/zsh-users/zsh-completions
